/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
}
@font-face {
    font-family: starJedi;
    src: url('../src/assets/fonts/Starjedi.ttf');
}
// *{
//     margin: 0;
//     padding: 0;
// }