table{
    color: #ffd700;
    font-weight: bold;
    margin-top: 5%;
}
button{
    text-align: center;
    font: 200px starJedi;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0.5%;
    margin-left: 3%;
    color:  #ffd700;
    background-color: black;
    font-size: 240%;
}
button:hover{
    font-size: 300%;
    background-color:#ffd700;
    color: black;
}
.cf{
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
}